<div class="center">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>ID:</strong>
    <%= @comment.id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= @comment.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @comment.description %>
  </p>

  <p>
    <strong>User name:</strong>
    <%= @comment.user_name %>
  </p>

  <p>
    <strong>Create Time:</strong>
    <%= @comment.created_at %>
  </p>

  <p>
    <strong>Uptade Time:</strong>
    <%= @comment.updated_at %>
  </p>

  <%= button_to 'Edit', edit_comment_path(@comment), class: "comments-btn-edit", method: :get %>
  <%= button_to 'Back', comments_path, class: "comments-btn-back", method: :get %>

</div>