<%= form_with(model: article) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2 class="white-color"><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field white-color">
    <%= form.label :title %>
    <%= form.text_field :title, class: "input-title", placeholder: "New Title" %> 
  </div> <br>

  <div class="field white-color"> 
    <%= form.label :body %>
    <%= form.text_area :body, class: "textarea-body", placeholder: "New Body" %>
  </div> <br>

  <div class="actions">
    <%= button_to "Create Article", "", class: "btn-create-article" %>
  </div>
<% end %>
